/* navbar.css */
.navbar {
    background: linear-gradient(135deg, #2e649b, rgb(108, 184, 255), rgb(50, 85, 142), rgb(64, 117, 153));
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #023A71;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #023A71;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #056AA7;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #dadada;
    font-weight: bold;
    position: relative;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.nav-link:hover, .nav-link.active {
    color: #000000;
}

.navbar-logo {
    height: 60px;
    width: auto;
}

@media (min-width: 990px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #000dff;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
        left: 0;
        transform: none;
    }
}

.custom-offcanvas {
    background-color: #6cb8ffe3;
}

.hero-section {
    background: url(../IMGS/escom-fondo.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.hero-section h1 {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.2em;
}
